<div class="container-fluid my-64 w-full">
  <div class="text-center w-full">
    <a href="/tasks" class="font-semibold bg-green-900 text-xl text-white hover:bg-green-800 px-4 py-2 text-center rounded
  mx-auto transition-colors">Comenzar a usar la App</a>
    <p class="font-bold text-3xl text-gray-700 mt-10">Controla todas tus tareas en una sola aplicacion.</p>
  </div>
</div>